body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 8dvh;
  background-color: black;
  color: gray;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35dvw;
}
header nav #links {
  width: 25dvw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav #links a {
  align-self: center;
  color: white;
  text-decoration: none;
}

header #account {
  width: 4dvw;
  height: auto;
  background-color: rgb(255, 0, 55);
  display: flex;
  align-items: center;
  justify-content: center;
}

header #account img {
  width: auto;
  height: 40%;
}

header img {
  height: 100%;
}

main {
  height: 90dvh;
  background-color: #f0f0f0;
  color: black;
}
h1 {
  text-align: center;
}

main section {
  height: 100%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
}

main section .row {
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

main section .row .space {
  width: 10px;
}

main section .row article {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

main section .row #highlight {
  flex: 2.05;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main section article .img {
  height: 50%;
  width: 100%;
}

main section #highlight .img {
  height: 70%;
  width: 100%;
}

main section article .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main section article .info {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 5% 5% 0 5%;
}

main section article .info .name {
  flex: 2;
  color: black;
  align-self: center;
  font-weight: bold;
}

main section #highlight .info .name {
  flex: 3;
  font-size: 24px;
}

main section article .info .desc {
  flex: 6;
  font-size: 13px;
}

main section article .info .place {
  flex: 1;
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

footer {
  height: 40dvh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer div {
  width: 20dvw;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #contact {
  background-color: rgb(80, 80, 80);
}

footer div:not(#contact) p * {
  text-transform: uppercase;
  font-size: 14px;
}
footer div:not(#contact) p {
  margin: 1dvh;
}

footer a {
  color: white;
  text-decoration: none;
}
